{% extends "base.html" %}
{% block body %}
		<p>Select a board:</p>
		<ul>
{% for board, desc in boards.items() %}
			<li><a href="/{{ board }}/"><b>{{ board }}</b></a> ({{ desc }})</li>
{% endfor %}
		</ul>
		<p>Or maybe you want to make your own? You rebel.</p>
		<form method=POST action="/">
			<input class="board" name="board" type="text" placeholder="Board name (1-5 chars, alphabet, unique)" size=40><br>
			<input class="desc" name="desc" type="text" placeholder="Board description (1-30 chars, alphanumeric)" size=40><br>
			<input type="submit" class="submit">
		</form>
{% endblock %}
